@import 'vars';
@import 'global';

.header-top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header-text {
    margin-left: auto;
    margin-right: 60px;

    span {
        color: $red;
    }
}

.header-btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header-btn-login {
    background-color: $green;
}

.header-btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header-menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu-list {
    li {
        display: inline-block;

        &+li {
            margin-left: 42px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}